<app-header></app-header>

<ng-container *ngIf="admin; else notAdmin">
    <div class="container-md shadow-lg m-2 mx-auto">
        <div class="row bg-base">
            <div class="col p-5">
            <h1 class="text-base">Dashboard Admin Page</h1>
            <h3>Panitia Konvercab V PC ISNU Surabaya</h3>
            <hr class="text-base" />
            </div>
        </div>

        <div class="row">
            
            <aside class="col-sm-2">
                <app-sidebar></app-sidebar>
            </aside>
            
            <div class="col-sm-10 bg-light">
                <div class="table-responsive">
                    <h3 class="mt-2 mb-2">Peserta Sudah Terverifikasi</h3>
                    <nav class="navbar">
                        <input class="form-control" type="text" name="nama" [(ngModel)]="nama" (ngModelChange)="searchVerif()" placeholder="Cari berdasarkan nama peserta">
                    </nav>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">No Peserta</th>
                            <th scope="col">Nama Peserta</th>
                            <th scope="col">Email</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">Status</th>
                            <th scope="col">Pendidikan Terakhir</th>
                            <th scope="col">Institusi</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="!loading; else isLoading">
                                <ng-container *ngIf="verified.length > 0; else emptyData">
                                        <tr *ngFor="let peserta of verified | paginate: { id: 'paging1', itemsPerPage: 5, currentPage: p }; let i = index">
                                            <th scope="row">{{ i+1 }}</th>
                                            <td>{{ peserta.noPeserta }}</td>
                                            <td>{{ peserta.nama }}</td>
                                            <td>{{ peserta.email }}</td>
                                            <td>{{ peserta.alamat }}</td>
                                            <td *ngIf="peserta.statusAnggota == '1'">Pengurus PC ISNU</td>
                                            <td *ngIf="peserta.statusAnggota == '2'">Pengurus PAC ISNU</td>
                                            <td *ngIf="peserta.statusAnggota == '3'">Anggota ISNU</td>
                                            <td *ngIf="peserta.pendidikanTerakhir == '1'">S1</td>
                                            <td *ngIf="peserta.pendidikanTerakhir == '2'">S2</td>
                                            <td *ngIf="peserta.pendidikanTerakhir == '3'">S3</td>
                                            <td>{{ peserta.universitas }}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm mx-1"
                                                    (click)="onView(peserta.noPeserta)"
                                                    >
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </td>
                                        </tr>
                                </ng-container>
                                <ng-template #emptyData>
                                    <tr>
                                    <td colspan="8" class="text-center">Belum ada data</td>
                                    </tr>
                                </ng-template>
                            </ng-container>
                            <ng-template #isLoading>
                                <div class="container p-5">
                                    <li class="list-group-item">
                                        <span class="d-flex align-items-center">
                                            <strong>Loading....</strong>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </span>
                                    </li>
                                </div>
                            </ng-template>
                        </tbody>
                    </table>
                    <pagination-controls id="paging1" (pageChange)="p = $event"></pagination-controls>
                </div>
                <hr>
                <div class="table-responsive">
                    <h3 class="mt-2 mb-2">Peserta Belum Terverifikasi</h3>
                    <nav class="navbar">
                        <input class="form-control" type="text" name="nama" [(ngModel)]="nama1" (ngModelChange)="searchUnverif()" placeholder="Cari berdasarkan nama peserta">
                    </nav>
                    <ng-container *ngIf="message">
                        <div
                        class="mt-4 alert {{
                            message.status ? 'alert-' + message.status : ''
                        }} fade show"
                        role="alert"
                        >
                        {{ message.text }}
                        <button
                            type="button"
                            class="btn-close btn-sm float-end"
                            data-bs-dismiss="alert"
                            (click)="message = undefined"
                            aria-label="Close"
                        ></button>
                        </div>
                    </ng-container>
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">No Peserta</th>
                            <th scope="col">Nama Peserta</th>
                            <th scope="col">Email</th>
                            <th scope="col">Alamat</th>
                            <th scope="col">Status</th>
                            <th scope="col">Pendidikan Terakhir</th>
                            <th scope="col">Institusi</th>
                            <th scope="col" style="min-width: 100px;">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="!loading; else isLoading">
                                <ng-container *ngIf="unverified.length > 0; else emptyData">
                                        <tr *ngFor="let peserta of unverified | paginate: { id:'paging2', itemsPerPage: 5, currentPage: p2 }; let i = index">
                                            <th scope="row">{{ i+1 }}</th>
                                            <td>{{ peserta.noPeserta }}</td>
                                            <td>{{ peserta.nama }}</td>
                                            <td>{{ peserta.email }}</td>
                                            <td>{{ peserta.alamat }}</td>
                                            <td *ngIf="peserta.statusAnggota == '1'">Pengurus PC ISNU</td>
                                            <td *ngIf="peserta.statusAnggota == '2'">Pengurus PAC ISNU</td>
                                            <td *ngIf="peserta.statusAnggota == '3'">Anggota ISNU</td>
                                            <td *ngIf="peserta.pendidikanTerakhir == '1'">S1</td>
                                            <td *ngIf="peserta.pendidikanTerakhir == '2'">S2</td>
                                            <td *ngIf="peserta.pendidikanTerakhir == '3'">S3</td>
                                            <td>{{ peserta.universitas }}</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm mx-1"
                                                    (click)="sendVerif(peserta)"
                                                    >
                                                    <i class="fas fa-envelope"></i>
                                                </button>
                                                <button class="btn btn-danger btn-sm mx-1"
                                                    (click)="delete(peserta)"
                                                    >
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                </ng-container>
                                <ng-template #emptyData>
                                    <tr>
                                    <td colspan="7" class="text-center">Belum ada data</td>
                                    </tr>
                                </ng-template>
                            </ng-container>
                            <ng-template #isLoading>
                                <div class="container p-5">
                                    <li class="list-group-item">
                                        <span class="d-flex align-items-center">
                                            <strong>Loading....</strong>
                                            <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                                        </span>
                                    </li>
                                </div>
                            </ng-template>
                        </tbody>
                    </table>
                    <pagination-controls id="paging2" (pageChange)="p2 = $event"></pagination-controls>
                </div>
            </div>
        
        </div>
    </div>
</ng-container>
<ng-template #notAdmin>
    <div class="container-md shadow-lg m-2 mx-auto">
        <div class="row bg-base">
            <div class="col p-5">
            <h1 class="text-base">Maaf!</h1>
            <h3>Hanya Admin Yang Boleh Mengakses Halaman Ini</h3>
            <hr class="text-base" />
            </div>
        </div>

        <div class="row bg-light">
        </div>
    </div>
</ng-template>