<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">No Peserta</th>
            <th scope="col">Nama Peserta</th>
            <th scope="col">Email</th>
            <th scope="col">Status</th>
            <th scope="col">Pendidikan Terakhir</th>
            <th scope="col">Institusi</th>
            <th scope="col">Absensi</th>
            <th scope="col">Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>mark@gmail.com</td>
            <td>Anggota ISNU</td>
            <td>S1</td>
            <td>Yu Ai</td>
            <td>Hadir</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detail</a>
                <a href="#" class="btn btn-sm btn-warning">Cetak</a>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>mark@gmail.com</td>
            <td>Anggota ISNU</td>
            <td>S1</td>
            <td>Yu Ai</td>
            <td>Hadir</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detail</a>
                <a href="#" class="btn btn-sm btn-warning">Cetak</a>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>mark@gmail.com</td>
            <td>Anggota ISNU</td>
            <td>S1</td>
            <td>Yu Ai</td>
            <td>Belum Hadir</td>
            <td>
                <a href="#" class="btn btn-sm btn-primary">Detail</a>
                <a href="#" class="btn btn-sm btn-warning">Cetak</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>