<!-- LEFT SIDE CONTENT -->
    <div class="row justify-content-center">
        <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark"  style="height: 1600px;">
            <ul class="nav nav-pills flex-column mb-auto">
              <li>
                <a class="nav-link text-white btn" routerLink="/dashboard/list">
                    <i class="fa-solid fa-list"></i>  Daftar Peserta
                </a>
              </li>
              <hr>
              <li>
                <a class="nav-link text-white btn" routerLink="/dashboard/absensi">
                    <i class="fa-solid fa-calendar"></i>  Absensi
                </a>
              </li>
              <hr>
              <li>
                <a class="nav-link text-white btn" routerLink="/dashboard/voting">
                    <i class="fa-solid fa-check"></i>  Papan Pemilihan
                </a>
              </li>
            </ul>
            
        </div>
    </div>