<div class="container">
    <div class="register-content">
        <input type="text" name="fullName" placeholder="Nama Lengkap">
        <input type="email" name="email" placeholder="Email">
        <input type="text" name="noHp" placeholder="No Telp / WA">
        <input type="text" name="address" placeholder="Alamat">
        <input type="text" name="status" placeholder="Status">
        <input type="text" name="edu" placeholder="Pendidikan">
        <input type="text" name="campus" placeholder="Perguruan Tinggi">
        <input type="password" name="password" placeholder="Password">

        <div class="btn-login">
            <button class="btn btn-sm btn-primary">Register</button>
        </div>
    </div>
</div>