<app-header></app-header>

<div class="container-md shadow-lg m-2 mx-auto">
    <div class="row bg-base">
        <div class="col p-5">
          <h1 class="text-base">Form Pendaftaran</h1>
          <h3>Peserta Konvercab V PC ISNU Surabaya</h3>
          <hr class="text-base" />
        </div>
    </div>
    <div class="row bg-light justify-content-start p-5">
        <div class="col-md-6">
            <form [formGroup]="guestForm" (ngSubmit)="onSubmit()">
              <div class="has-validation mb-3">
                <div class="mb-3">
                    <label class="form-label">Nama Lengkap *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="name"
                      [ngClass]="isFieldValid('name')"
                      placeholder="Masukkan nama lengkap anda"
                      id="name"
                      name="name"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.name?.errors"
                    >Nama Lengkap harus diisi</span>
                </div>

                <div class="mb-3">
                  <label class="form-label">Email *</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    [ngClass]="isFieldValid('email')"
                    placeholder="Masukkan email anda"
                    id="email"
                    name="email"
                    required
                  />
                  <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.email?.errors"
                    >{{renderEmailErrMessage()}}</span>
                </div>
      
                <div class="mb-3">
                  <label class="form-label">No Telpon / WA *</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="noTelp"
                    [ngClass]="isFieldValid('noTelp')"
                    placeholder="Masukkan No Telpon / WA anda"
                    id="noTelp"
                    name="noTelp"
                    required
                  />
                  <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.noTelp?.errors"
                    >No Telpon / WA harus diisi</span>
                </div>
      
                <div class="mb-3">
                    <label class="form-label">Alamat *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="address"
                      [ngClass]="isFieldValid('address')"
                      placeholder="Masukkan alamat anda"
                      id="address"
                      name="address"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.address?.errors"
                    >Alamat harus diisi</span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Status *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="status"
                      [ngClass]="isFieldValid('status')"
                      placeholder="Masukkan status anda"
                      id="status"
                      name="status"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.status?.errors"
                    >Status harus diisi</span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Pendidikan Terkakhir *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="edu"
                      [ngClass]="isFieldValid('edu')"
                      placeholder="Masukkan pendidikan terakhir anda"
                      id="edu"
                      name="edu"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.edu?.errors"
                    >Pendidikan Terkakhir harus diisi</span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Perguruan Tinggi *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="campus"
                      [ngClass]="isFieldValid('campus')"
                      placeholder="Masukkan perguruan tinggi anda"
                      id="campus"
                      name="campus"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.campus?.errors"
                    >Perguruan Tinggi harus diisi</span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Password *</label>
                    <input
                      type="password"
                      class="form-control"
                      formControlName="password"
                      [ngClass]="isFieldValid('password')"
                      placeholder="Masukkan password anda"
                      id="password"
                      name="password"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="guestForm.touched && guestForm.controls?.password?.errors"
                    >{{renderPasswordErrMessage()}}</span>
                </div>
      
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="guestForm.invalid"
                >
                  Submit
                </button>
              </div>
            </form>
          </div>
          <button (click)="test()">mega button</button>
    </div>
</div>