<app-header></app-header>

<div class="container-md shadow-lg m-2 mx-auto">
    <div class="row bg-base">
        <div class="col p-5">
          <h1 class="text-base">Form Pendaftaran</h1>
          <h3>Peserta Konvercab V PC ISNU Surabaya</h3>
          <hr class="text-base" />
        </div>
    </div>
    <div class="row bg-light justify-content-start p-5">
      <ng-container *ngIf="message">
        <div
          class="mt-4 alert {{
            message.status ? 'alert-' + message.status : ''
          }} fade show"
          role="alert"
        >
          {{ message.text }}
          <button
            type="button"
            class="btn-close btn-sm float-end"
            data-bs-dismiss="alert"
            (click)="message = undefined"
            aria-label="Close"
          ></button>
        </div>
      </ng-container>
      <ng-container *ngIf="!loading; else isLoading">
        <div class="col-md-6">
            <form [formGroup]="guestForm" (ngSubmit)="onSubmit()">
              <div class="has-validation mb-3">
                <div class="mb-3">
                    <label class="form-label">Nama Lengkap *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="nama"
                      [ngClass]="isFieldValid('nama')"
                      placeholder="Masukkan nama lengkap anda"
                      id="nama"
                      name="nama"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.nama?.errors"
                    >Nama Lengkap harus diisi</span>
                </div>

                <div class="mb-3">
                  <label class="form-label">Email *</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    [ngClass]="isFieldValid('email')"
                    placeholder="Masukkan email anda"
                    id="email"
                    name="email"
                    required
                  />
                  <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.email?.errors"
                    >{{renderEmailErrMessage()}}</span>
                </div>
      
                <div class="mb-3">
                  <label class="form-label">No Telpon / WA *</label>
                  <input
                    type="text"
                    class="form-control"
                    formControlName="noTelp"
                    [ngClass]="isFieldValid('noTelp')"
                    placeholder="Masukkan No Telpon / WA anda"
                    id="noTelp"
                    name="noTelp"
                    required
                  />
                  <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.noTelp?.errors"
                    >No Telpon / WA harus diisi</span>
                </div>
      
                <div class="mb-3">
                    <label class="form-label">Alamat *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="alamat"
                      [ngClass]="isFieldValid('alamat')"
                      placeholder="Masukkan alamat anda"
                      id="alamat"
                      name="alamat"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.alamat?.errors"
                    >Alamat harus diisi</span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Status *</label>
                    <select formControlName="statusAnggota" id="statusAnggota" class="form-select" [ngClass]="isFieldValid('statusAnggota')" required>
                      <option value="-" disabled selected>- Pilih Status -</option>
                      <option value="1">Pengurus PC ISNU Kota Surabaya periode 2018 - 2022</option>
                      <option value="4">Pengurus PC ISNU Kota Surabaya periode sebelumnya</option>
                      <option value="2">Pengurus PAC ISNU Kota Surabaya</option>
                      <option value="3">Anggota ISNU Kota Surabaya (Undangan)</option>
                    </select>
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.statusAnggota?.errors"
                    >Status harus diisi</span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Pendidikan Terakhir *</label>
                    <select formControlName="pendidikanTerakhir" id="pendidikanTerakhir" class="form-select" [ngClass]="isFieldValid('pendidikanTerakhir')" required>
                      <option value="-" disabled>- Pilih Pendidikan Terakhir -</option>
                      <option value="1">S1</option>
                      <option value="2">S2</option>
                      <option value="3">S3</option>
                    </select>
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.pendidikanTerakhir?.errors"
                    >Pendidikan Terakhir harus diisi</span>
                </div>

                <div class="mb-3">
                    <label class="form-label">Perguruan Tinggi *</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="universitas"
                      [ngClass]="isFieldValid('universitas')"
                      placeholder="Masukkan perguruan tinggi anda"
                      id="universitas"
                      name="universitas"
                      required
                    />
                    <span class="invalid-feedback"
                    *ngIf="(guestForm.touched || guestForm.dirty) && guestForm.controls?.universitas?.errors"
                    >Perguruan Tinggi harus diisi</span>
                </div>

                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="guestForm.invalid"
                >
                  Submit
                </button>
              </div>
            </form>
        </div>
      </ng-container>
      <ng-template #isLoading>
        <div class="container p-5">
            <li class="list-group-item">
                <span class="d-flex align-items-center">
                    <strong>Loading....</strong>
                    <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
                </span>
            </li>
        </div>
    </ng-template>
    </div>
</div>