<app-header></app-header>

<div class="container-md shadow-lg m-2 mx-auto">
  
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      
      <h1 class="cover-heading">Selamat datang di website Konvercab V<br>Pengurus Cabang Ikatan Sarjana Nahdlatul Ulama<br>Kota Surabaya</h1>
      <div class="row">
        <div class="col-8">
          <p class="fs-4">Pelaksanaan Konvercab V<br>
            <i class="fa-solid fa-calendar"></i> Ahad, 14 Agustus 2022<br>
            <i class="fa-solid fa-location-dot"></i> Gedung Fastron Universitas Nahdlatul Ulama Surabaya<br>
            <i class="fa-solid fa-map-location"></i> Jl. Raya Jemursari No. 57, Surabaya</p>
          <p>
            <a routerLink="/register" class="btn btn-lg btn-warning">Daftar Sebagai Peserta</a>
          </p>
          <p>PIC :<br>Nurvan Indra Praja (081330278721)<br>Sunanto (085646755913)</p>
        </div>
        <div class="col-4 bg-light justify-content-evenly">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15829.101281466781!2d112.7388627!3d-7.3229404!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5d341a3e057ebe3!2sUniversitas%20Nahdlatul%20Ulama%20Surabaya%20(UNUSA)%20-%20Kampus%20B!5e0!3m2!1sid!2sid!4v1659344242708!5m2!1sid!2sid" class="w-100 h-100 rounded mx-auto d-block" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <br /><br />
        </div>
      </div>
  
  </div>
</div>