<!-- <link rel="stylesheet" href="../../app.component.scss"> -->
<app-header></app-header>

  <div class="container-md text-center">
    
      <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
        
          <h1 class="cover-heading">Selamat datang di website Konvercab V<br>Pengurus Cabang Ikatan Sarjana Nahdlatul Ulama<br>Kota Surabaya</h1>
          <!-- <img src="../../../assets/images/home1.png" alt="home" class="img-thumbnail my-4 img-fluid mx-auto d-block" width="500"> -->
        <p class="fs-4">Pelaksanaan Konvercab V<br>Ahad, 14 Agustus 2022<br>Gedung Fastron Universitas Nahdlatul Ulama Surabaya<br>Jl. Raya Jemursari No. 57, Surabaya</p>
        <p>
          <a routerLink="/register" class="btn btn-lg btn-warning">Daftar Sebagai Peserta</a>
        </p>
        <p>PIC :<br>Nurvan Indra Praja (081330278721)<br>Sunanto (085646755913)</p>
    
    </div>
  </div>