<div class="row">
    <div class="col-md-6 card m-3" style="width: 18rem;">
        <img src="../../../../../assets/images/calon1.jpg" class="card-img-top" alt="calon 1">
        <div class="card-body">
          <h5 class="card-title text-center">Nam Jo Hyuk</h5>
          <h3 class="text-center">{{ count1 }}</h3>
        </div>
    </div>
    <div class="col-md-6 card m-3" style="width: 18rem;">
        <img src="../../../../../assets/images/calon2.jpg" class="card-img-top" alt="calon 2">
        <div class="card-body">
          <h5 class="card-title text-center">Hwang In Yeop</h5>
          <h3 class="text-center">{{ count2 }}</h3>
        </div>
    </div>
</div>
