<app-header></app-header>

<div class="container-md shadow-lg m-2 mx-auto">
    <div class="row bg-base">
        <div class="col p-5">
          <h1 class="text-base">Dashboard Admin Page</h1>
          <h3>Panitia Konvercab V PC ISNU Surabaya</h3>
          <hr class="text-base" />
        </div>
    </div>

    <div class="row">
        
        <aside class="col-sm-3">
            <app-sidebar></app-sidebar>
        </aside>
        
        <section class="col-sm-9 bg-light">
            <app-list></app-list>
        </section>
    
    </div>
</div>